.box {
  box-sizing: border-box;
}

$spacer: 0.5rem;

.p {
  @for $i from 1 through 12 {
    &-#{$i} {
      padding: $i * $spacer;
    }
  }
}

.m {
  @for $i from 1 through 12 {
    &-#{$i} {
      margin: $i * $spacer;
    }
  }
}
