/*
  We are using react-bootstrap, so we can change any of their
  variables before we import them to provide customization.

  All bootstrap variables can be found in /node_modules/bootstrap/scss/_variables
*/

$font-family-sans-serif: Myriad, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$font-family-sans-serif: Myriad;
$font-size-base: 1.6rem !default;
