/* Avenir-Regular */
@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-Regular.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-RegularIt.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-RegularCn.otf) format('opentype');
    font-weight: normal;
    font-stretch: condensed;
}

/* Avenir-500 */
@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-Medium.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-MediumIt.otf) format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-MediumCn.otf) format('opentype');
    font-weight: 500;
    font-stretch: condensed;
}

/* Avenir-600 */
@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-Demi.otf) format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-DemiIt.otf) format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-DemiCn.otf) format('opentype');
    font-weight: 600;
    font-stretch: condensed;
}

/* Avenir-Bold */
@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-BoldIt.otf) format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Avenir;
    src: url(files/AvenirNextLTPro-BoldCn.otf) format('opentype');
    font-weight: bold;
    font-stretch: condensed;
}

/* Myriad-Regular */
@font-face {
    font-family: Myriad;
    src: url(files/Myriad-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: Myriad;
    src: url(files/Myriad-RegularCn.woff) format('woff');
    font-weight: normal;
    font-stretch: condensed;
}

/* Myriad-Light */
@font-face {
    font-family: Myriad;
    src: url(files/Myriad-Light.woff) format('woff');
    font-weight: 300;
}

/* Myriad-500 */
@font-face {
    font-family: Myriad;
    src: url(files/Myriad-Semibold.woff) format('woff');
    font-weight: 600;
}

@font-face {
    font-family: Myriad;
    src: url(files/Myriad-SemiboldCn.woff) format('woff');
    font-weight: 600;
    font-stretch: condensed;
}

/* Myriad-Bold */
@font-face {
    font-family: Myriad;
    src: url(files/Myriad-Bold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: Myriad;
    src: url(files/Myriad-BoldCn.woff) format('woff');
    font-weight: bold;
    font-stretch: condensed;
}
